.course__tab {
  width: 100%;
  min-height: 50vh;
  .tab__header {
    display: flex;
    column-gap: 20px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }
    button {
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      position: relative;
      padding: 20px 0;
      background: none;

      &.active {
        color: #ff1e1e;
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 100%;
          background-color: #ff1e1e;
        }
      }
    }
  }
  .tab__body {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 475px) {
      grid-template-columns: repeat(1, 1fr);
    }
    grid-gap: 20px;
    .tab__course__item {
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 5px 3px 5px rgba($color: #000000, $alpha: 0.5);
      img {
        width: 100%;
      }
    }
    .tab__course__content {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding: 10px;
      span {
        color: #ff1e1eb7;
      }
    }
  }
}
