@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  @media (min-width: 1600px) {
    padding: 0 140px;
  }
  @media (min-width: 800px) and (max-width: 1400px) {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  @media (max-width: 640px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
/**Responsiveness For Large Screen**/
@media (min-width: 1600px) {
  p {
    font-size: 22px;
  }
  .section__title h2 {
    font-size: 50px;
  }
  .tab__header {
    button {
      font-size: 22px;
    }
  }
  .hero {
    h5 {
      font-size: 20px;
    }
    h2 {
      font-size: 45px;
    }
    h1 {
      font-size: 55px;
    }
  }
  .btn__global {
    font-size: 22px;
    min-width: 150px;
    padding: 5px 8px;
  }
  .carousel__course__item {
    width: 250px !important;
    height: 180px;
    .icon svg {
      font-size: 30px;
    }
    h5 {
      font-size: 18px;
    }
  }
  .course__tab .tab__header button {
    font-size: 22px;
  }
  .course__body,
  .course__tab .tab__body {
    grid-template-columns: repeat(4, 1fr);
  }
  .menu a {
    font-size: 22px;
  }
  .top__bar a {
    font-size: 18px;
  }
  .footer__widgets-title {
    font-size: 35px;
  }
  .footer__content .free__seminar {
    font-size: 22px;
    width: fit-content;
  }
  .footer__widgets {
    li {
      font-size: 22px;
    }
  }
  .testimonial .title {
    font-size: 50px;
  }
  .testimonial .subtitle {
    font-size: 22px;
  }
}

.carousel__course__item {
  transition: 0.3s all ease-in-out;
  &:hover {
    .icon svg {
      font-size: 30px;
      color: #fb3c17;
    }

    color: #fb3c17;
  }
}
.row {
  display: flex;
  row-gap: 20px;
  @media (max-width: 475px) {
    flex-direction: column;
  }
}

.p-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.col {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;

  @media (max-width: 475px) {
    align-items: center;
    div {
      width: 300px !important;
      height: auto !important;
    }
  }
}
.btn__group {
  display: flex;
  column-gap: 20px;
}

.btn__global {
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #ff1e1e;
  color: #fff;
  border-radius: 5px;
  &:hover {
    background: transparent;
    color: #1e1e1e;
    border: 1px solid #1e1e1e;
  }
}
.slick-arrow {
  &::before {
    border: 1px solid #fb3c17;
    background-color: #ff1e1e;
    border-radius: 50%;
  }
}

.container__mobile {
  @media (max-width: 475px) {
    padding: 0 20px;
  }
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fb3c17;
  background: #1e1e1e;
}
